
.m3d-page-info {}

.m3d-scenelist{
    .action-btn {
        display: inline-flex;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        background-color: #00BFA5;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 500ms;

        & > img {
            width: 18px;
            height: 18px;
        }
    }
}